<app-server></app-server>
<app-server></app-server>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p [innerText]="serverName"></p>

<input type="text" class="form-control" [(ngModel)]="serverName">
<p [innerText]="serverName"></p>


<button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
<h3>{{serverCreationStatus}}</h3>
<p [innerText]="allowNewServer"></p>

<input type="text" class="form-control" placeholder="Please enter username" [(ngModel)]="username">
<button class="btn btn-primary" (click)="resetUsername()" [disabled]="username===''">Reset User</button>